Django>=2.2, <2.3
djangorestframework>=3.10.3, <3.11
django-filter
coreapi
django-rest-auth[with_social]
Markdown
Pygments
django-model-utils
inflection
drf-extensions
django-mysql
mysqlclient
python-dotenv

# inspection
django-silk

# postgres sql
# --------------
psycopg2
django-tenant-schemas

# testing
pytest-django
mock
factory-boy
tox

# static code analysis
flake8
flake8-quotes

# others
django-extensions
jupyter
